<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{ _template :: head('cadastrar') }" ></head>

<body>

<nav th:replace="~{ _template :: #navbar }"></nav>

<div class="container">

    <h3>Cadastrar Feedback</h3>

    <div class="row">
        <form th:action="${'/task'}" method="post" class="col s12" th:object="${task}">
            <div class="row">
                <div class="input-field col s12">
                    <input
                            th:field="*{title}"
                            type="text"
                            th:classappend="${#fields.hasErrors('title')} ? invalid"
                    >
                    <label for="title">Título</label>
                    <span class="helper-text red-text" th:errors="*{title}"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                        <textarea
                                th:field="*{description}"
                                class="materialize-textarea"
                                th:classappend="${#fields.hasErrors('description')} ? invalid"
                        ></textarea>
                    <label for="description">Descrição</label>
                    <span class="helper-text red-text" th:errors="*{description}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="range-field">
                        <label for="score">Pontos</label>
                        <input th:field="*{score}" type="range" min="1" max="100" />
                        <span class="helper-text red-text" th:errors="*{score}"></span>
                    </p>
                </div>
            </div>
            <div>
                <a href="/task" class="btn grey">cancelar</a>
                <button class="btn">salvar</button>
            </div>
        </form>
    </div>


</div>




</body>

</html>