<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Stars</title>
</head>

<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Stars</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="/task">pendentes</a></li>
            <li><a href="#">concluídas</a></li>
            <li><a href="#">usuários</a></li>
        </ul>
    </div>
</nav>

<div class="container">

    <h3>Cadastrar Filme</h3>

    <div class="row">
        <form action="/stars" method="post" class="col s12" th:object="${stars}">
            <div class="row">
                <div class="input-field col s12">
                    <input
                            th:field="*{title}"
                            type="text"
                            th:classappend="${#fields.hasErrors('title')} ? invalid"
                    >
                    <label for="title">Título</label>
                    <span class="helper-text red-text" th:errors="*{title}"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                        <textarea
                                th:field="*{description}"
                                class="materialize-textarea"
                                th:classappend="${#fields.hasErrors('description')} ? invalid"
                        ></textarea>
                    <label for="description">Descrição</label>
                    <span class="helper-text red-text" th:errors="*{description}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="range-field">
                        <label for="stars">Estrelas</label>
                        <input th:field="*{score}" type="range" min="1" max="100" />
                        <span class="helper-text red-text" th:errors="*{score}"></span>
                    </p>
                </div>
            </div>
            <div>
                <a href="/stars" class="btn grey">cancelar</a>
                <button class="btn">salvar</button>
            </div>
        </form>
    </div>
    </div>
</body>
</html>