<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Stars</title>
</head>

<body>

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Stars</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="active"><a href="/task" th:text="#{stars.pending}"></a></li>
      <li><a href="/stars/done" th:text="#{task.done}">concluídas</a></li> <!-- Link para tarefas concluídas -->
      <li><a href="/users" th:text="#{users}">usuários</a></li> <!-- Link para usuários -->
      <li>
        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger' href='#' data-target='dropdown1'>
          <img th:src="${avatar_url}" class="avatar" alt="foto do usuário" />
        </a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><span th:text="${username}"></span></li>
          <li class="divider" tabindex="-1"></li>
          <li>
            <a href="/logout">
              <i class="material-icons">logout</i>
              sair
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  <div class="card-panel teal accent-3" th:if="${success}" th:text="${success}"></div>
  <div class="card-panel red accent-3 white-text" th:if="${error}" th:text="${error}"></div>

  <h2>Tarefas Pendentes</h2>

  <div class="row">

    <div th:each="star : ${stars}" class="col s12 m6 l4">
      <div class="card">
        <div class="card-content">
          <div class="progress">
            <div class="determinate" th:style="${'width:' + star.status + '%' }"></div>
          </div>
          <span th:text="${star.title}" class="card-title"></span>
          <p th:text="${star.description}"></p>
          <span th:text="${star.score}" data-badge-caption="points" class="badge red white-text"></span>
        </div>
        <div class="card-action">
          <a th:href="${'/star/delete/' + task.id}" class="waves-effect waves-light btn red">
            <i class="material-icons">delete</i>
          </a>

        </div>
      </div>

    </div>

  </div>

</div>

<div class="fixed-action-btn">
  <a href="/star/new" class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
</div>

</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.dropdown-trigger');
        const options = {
            constrainWidth: false,
            coverTrigger: false
        }
        var instances = M.Dropdown.init(elems, options);
    });
</script>

</html>
