<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Stars</title>
</head>

<body>

<main class="container center">
    <h1>Stars</h1>

    <p>Um app para dar feedbacks de filmes.</p>


    <a href="/oauth2/authorization/github" class="btn">
        <i class="material-icons left">check</i>
        entrar com github
    </a>

</main>


</body>
</html>